{% extends 'base.html.twig' %}

{% block title %}Hello trackController!{% endblock %}

{% block body %}

    <div class="spotify-playlists">
        <h2>{{ search | capitalize }} result's</h2>

        {% include '/track/components/_listing.html.twig' %}
    </div>

    <script
            src="https://kit.fontawesome.com/23cecef777.js"
            crossorigin="anonymous"
    ></script>
{% endblock %}
